body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2fc412;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.banner {
    background-color: #0e0d0d;
    color: white;
    padding: 40px;
    text-align: center;
}

.playlists {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.playlist {
    border: 1px solid #000000;
    padding: 10px;
    width: 200px;
}

.playlist img {
    max-width: 100%;
    height: 220px;       
    object-fit: cover; 
    border-radius: 8px; 
}


.login {
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}

footer {
    background-color: #09db3e;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px;
    font-size: 35px;
}
.caixapesquisa {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #2fc412;
}


